p {
    font-size: 22px;
}

span {
    font-size: 22px;
}

a {
    font-size: 22px;
}

option {
    font-size: 22px;
}

tr {
    font-size: 23px;
}

.btn {
    font-size: 20px;
}

.form-control {
    font-size: 20px;
}
